@model IEnumerable<CustomerUser.EF.ProductsTbl>

@{
    ViewBag.Title = "Index";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
    <title>Document</title>
</head>
<body>
    <section class="grid grid-cols-4 gap-4 mt-10 mx-3">
        <div class="h-screen sticky top-0">
            <h3 class="font-bold">Categories</h3>

            <div class="my-10">
                <ul class="grid grid-col gap-2">
                    <li class="cursor-pointer border-solid border border-gray-300 rounded border-gray-300 p-2 hover:shadow-md">
                        All
                    </li>
                    <li class="cursor-pointer border-solid border border-gray-300 rounded border-gray-300 p-2 hover:shadow-md">
                        Vegitables
                    </li>
                    <li class="cursor-pointer border-solid border border-gray-300 rounded border-gray-300 p-2 hover:shadow-md">
                        Fruits
                    </li>
                    <li class="cursor-pointer border-solid border border-gray-300 rounded border-gray-300 p-2 hover:shadow-md">
                        Dairy products
                    </li>
                    <li class="cursor-pointer border-solid border border-gray-300 rounded border-gray-300 p-2 hover:shadow-md">
                        Non-Veg
                    </li>
                    <li class="cursor-pointer border-solid border border-gray-300 rounded border-gray-300 p-2 hover:shadow-md">
                        Kitchen Items
                    </li>
                    <li class="cursor-pointer border-solid border border-gray-300 rounded border-gray-300 p-2 hover:shadow-md">
                        Other items
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="col-span-3">
            <h3 class="font-bold">Showing All Products</h3>
            <div class="grid grid-cols-3 gap-3 my-10">
                @foreach (var item in Model)
                {
                    <div class="border border-2 p-3 rounded hover:shadow-md hover:border-gray-300">
                        <img src="~/Images/K.jpg" alt="" />
                        <div class="caption">
                            <h5>@item.ProductName</h5>
                            <p>@item.Price</p>
                            <p>@item.Qty</p>
                            <button class="p-2 border-2 border-gray rounded hover:border-orange-900">
                                @Html.ActionLink("Add to Cart","AddToCart","Product")
                            </button>
                        </div>
                    </div>

                }
            </div>
        </div>
        </section>
    </body>
</html>